{{- $name := "Franck Leroy" -}}
{{- $email := "franck.leroy.fr@live.fr" -}}

{{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
{{- $interactive := and stdinIsATTY (not $chezmoiForce) -}}

{{- $osid := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}


{{- if $interactive -}}
{{-   writeToStdout "\n💡 Tip: you can always make chezmoi ask this again by running `chezmoi init` without `--force`.\n" -}}
{{- end -}}

{{- $user  := env "GIT_USERNAME" -}}
{{- $email := env "GIT_EMAIL" -}}
{{- if and (not $user) $interactive -}}
{{-   $user  = promptStringOnce . "git.user"  "Enter your git username: " -}}
{{- end -}}
{{- if and (not $email) $interactive -}}
{{-   $email = promptStringOnce . "git.email" "Enter your git email: " -}}
{{- end -}}


[data]
  hostname = {{ $hostname | quote }}
  osid = {{ $osid | quote }}

[data.git]
  user  = {{ $user | quote }}
  email = {{ $email | quote }}