{{ if and (eq .osid "linux-pop" "linux-ubuntu") .docker -}}

#!/usr/bin/env sh

# https://git-scm.com/downloads/linux
# For Ubuntu, this PPA provides the latest stable upstream Git version

sudo add-apt-repository ppa:git-core/ppa
sudo apt update
sudo apt install git

{{ end -}}